<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icon -->
    <div class="fadeIn first"></div>

    <!-- Login Form -->
    <form>
      <h2 class="active">Sign In</h2>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="login"
        placeholder="login"
        [(ngModel)]="login"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
        [(ngModel)]="password"
      />
      <input
        type="submit"
        class="fadeIn fourth"
        value="Log In"
        (click)="sign()"
      />
    </form>
  </div>
</div>
